/*Importamos los estilos predeterminados de cada componente*/
@import url(modular-css/main.css);
@import url(modular-css/main-HEADER.css);
@import url(modular-css/main-SIDEBAR.css);
@import url(modular-css/main-BODY.css);
@import url(modular-css/main-FOOTER.css);


/*Estilos solo para la página presente*/
.main-Ad{
    height: auto;
    flex: 1;
    text-align: center;
    align-content: center;
    color: white;
}
.SHODAN{
    max-height: 10px !important;
}
